:root {
  --primary: #008e3f;
  --secondary: #474747;
}

.carousel-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff; 
  padding: 20px; 
  transition: background-color 0.5s ease;
}

#carouselHeader:hover .carousel-text {
  background-color: rgba(0, 0, 0, 0.8);
}
  
.carousel-text .container {
  text-align: center; 
}

.custom-button {
  width: 150px; /* Adjust the width as per your design requirements */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(53, 53, 53, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='20' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(53, 53, 53);
} 

.custom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
