{% load static %}


<div class="row">
    <div class="col-sm-8">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" 
        src="./assets/img/unmarked/1.jpg" 
        alt="Card image cap"
        style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <p><strong>Sve vrste turbine</strong></p>
          <p>
            Pana-888 Doo je licencirani distributer brenda Jrone u Srbiji
          </p>
          <p>
            Jrone proizvodi turbine ne samo za dizel motore od 0.8L do 3.5L za putničke automobile i 
            od 4.0L do 12.0L za teretna vozila, već i za benzinske motore od 1.0L do 2.0L. Jrone turbine 
            se montiraju poluautomatskim linijama i podvrgavaju se strogoj kontroli kvaliteta.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-12">
        <p><strong><u>Relevantne informativne linkove:</u></strong></p>

        <a href="./assets/pdf/identifikacija_trubine.pdf" target="_blank">
          <button class="btn btn-primary mb-2" 
          style="width: 210px;">Kako identifikovati turbinu</button>
        </a>

        <a href="./assets/pdf/proverke_i_preporuke.pdf" target="_blank">
          <button class="btn btn-primary mb-2" 
          style="width: 210px;">Neophodne provere</button>
        </a>

        <a href="./informacije/kako-funkcionise-turbo.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Kako funkcioniše turbo</button>
        </a>

        <a href="./informacije/simptomi-kvara-turbine.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Simptomi kvara turbine</button>
        </a>

        <a href="./informacije/zasto-se-kvari-turbina.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Zašto se kvari turbina</button>
        </a>
        
        <a href="./informacije/zasto-turbina-trosi-ulje.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Zašto turbina troši ulje</button>
        </a>

        <a href="./informacije/turbo-dijagnostika.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Turbo dijagnostika</button>
        </a>               

        <a href="./informacije/instrukcije-za-montazu.html">
          <button class="btn btn-outline-primary mb-2" 
          style="width: 210px;">Instrukcije za montažu</button>
        </a>

      </div>
    </div>

  </div>