
<h1 style="color: var(--secondary);
padding-top: 40px;"><strong>Šta raditi ukoliko dođe do problema sa turbinom</strong></h1>

<p>Ukoliko vozilo doživljava probleme koje mogu ukazivati na problem sa turbinom,
   potrebno je obratiti se mehaničaru za dijagnostiku. Presavijene cevi 
   za dovod ili odvod vazduha ili ulja mogu ograničiti rad turbokompresora 
   i time na vozilu napraviti havariju. Pogledajte učestale uzroke kvara 
   turbine <a href="{% url 'zasto-se-kvari-turbina' %}">ovde</a>.
</p>

<p><strong>Ako je dijagnostikovan problem na turbini, potrebno je uraditi obnovu 
  turbokompresora na vozilu</strong>. Pri kvaru turbokompresora postoje dve opcije zamene:
</p>

<p style="color: var(--primary); text-indent: 30px;
"><strong><a href="{% url 'kontakt' %}">1. Nova turbina</a></strong></p>

<p style="color: var(--primary); text-indent: 30px;
"><strong>2. Remont turbine</strong></p>
<p>
  Pri zameni turbine na vozilu treba voditi računa o adekvatnosti turbine
   za vozilo, kvalitetu, pouzdanosti. <i>Jeftin servis turbine može rezultirati 
   ponovnim kvarom na turbini, ali i na motoru, ubrzo nakon popravke</i>.
</p>