{% extends 'app/main.html' %}
{% load static %}

{% block title %}Zašto se kvari turbina{% endblock %}


{% block content %}

<div class="album py-5">
  <div class="container">

    <h1 style="color: var(--secondary);"><strong>Zašto se kvari turbina</strong></h1>
    <h3 style="color: var(--primary);"><strong>Glavni uzročnici 
      kvara turbine</strong></h3>

    <div class="row">
      <div class="col-xl-6 col-md-12" style="padding-top: 20px;">
        <p>
          Turbina snabdeva motor kompresovanim vazduhom za jači proces sagorevanja pod većim pritiskom i gustinom od vazduha iz okoline. Kompresovan vazduh iz turbopunjača sadrži veću koncentraciju kiseonika, što omogućava znatno poboljšano sagorevanje, što znači veća snaga, čistije emisije, poboljšan obrtni moment motora i smanjenje gubitka ubrizgavanja u motoru nudeći svestrano bolje performanse. 
        </p>
        <p>
          Bilo kakve greške u  sistemima za ulje, gorivo, vazduh i hlađenju motora, mogu prouzrokovati nepravilan rad turbo sistema i potencijalno ga oštetiti.
        </p>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="d-flex justify-content-center">
          <img src="{% static 'images/imgs/informacije/zasto_se_kvari_turbina/1.webp' %}" 
            alt="" width="400px" style="border-radius: 10px;">
        </div>  
      </div>
    </div>

    <h1 style="color: var(--secondary);
    padding-top: 30px;"><strong>Tri najčešća razloga kvara turbine</strong></h1>
    <h3 style="color: var(--primary);"><strong>Više od 90% kvarova uzrokovano je</strong></h3>

    <div class="card" style="padding-top: 20px;">
      <div class="card-body">

        <ul>
          <li>Nedostatkom ili zagađenjem ulja. </li>
          <li>Blokiranim, začepljenim ili savijenim cevima za odvod/dovod ulja.</li>
          <li>Nepravilno postavljena turbina. 
            <a href="{% url 'instrukcije-za-montazu' %}"><i style="font-size: 13px;">
              instrukcije</i></a></li>
        </ul>
      </div>
    </div>
    <p style="font-size: 13px;">
      *Ukoliko turbina troši ulje, to je znak da nešto nije kako treba. 
      Pogledajte zašto dolazi do toga i kako da rešite problem <a href="">ovde</a>.
    </p>

    <p>
      Postoji mnogo vrsta kontaminacije koje motorno ulje može preneti u turbo sistem 
      i prouzrokovati štetu. Najčešće su to čestice poput ugljenika iz procesa sagorevanja. 
      Ako koncentracija ovih čestica postane previsoka, one kreću da deluju vrlo efikasno 
      abrazivno, postepeno erodirajući i polirajući tekuće površine ležaja i osovine, 
      povećavajući zazor i zatvarajući otvore za dovod ulja, sve dok ulje više nije u 
      stanju da upravlja oknom. To je obično praćeno naglim porastom nivoa buke i curenjem 
      ulja pored završnog zaptivača turbine, što dovodi do sagorevanja ulja i u vozilima bez 
      filtera za čestice, primetnog izduvnog dima.
    </p>


    <p>
      Drugi razlozi, poput loših navika u vožnji, mogu rezultirati kvarom turbine, pa bi 
      trebalo da uzmete u obzir i sledeće uzroke:
    </p>


    <div class="row">
      <div class="col-xl-6 col-md-12" style="padding-top: 20px;">

        <div class="d-flex justify-content-center">
          <img src="{% static 'images/imgs/informacije/zasto_se_kvari_turbina/2.webp' %}" 
            alt="" width="400px" style="border-radius: 10px;">
        </div>  
        <br>

      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-body">
            <ul>
              <li><strong>Dugotrajan rad motora u prazno</strong> može stvoriti 
                vakuum kod turbine</li>
              <li><strong>Snažno ubrzanje dok je motor hladan</strong> neće dozvoliti 
                ulju da cirkuliše, uzrokujući nedostatak ulja u turbini i ležajevima.</li>
              <li><strong>Naglo isključivanje motora dok je vruć</strong> može 
                prouzrokovati nakupljanje ugljenika u turbo sistemu, što dovodi 
                do otkaza ležajeva.</li>
              <li><strong>Vožnja</strong> putničkih vozila (naročito kamiona) <strong>iznad 
                optimalne granice obrtaja motora</strong> može dovesti do prekomerne brzine 
                protoka vazduha kroz turbinu i prekomernog pojačavanja motora (to se može 
                dogoditi i kod motora sa prirodnim usisavanjem) i trpljenja nafte.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>  

    {% include 'app/informacije/ukoliko-ima-problema.html' %}
  </div>  
</div>
{% endblock %}