{% extends 'app/main.html' %}
{% load static %}

{% block title %}Zašto turbina troši ulje{% endblock %}


{% block content %}


<div class="album py-5">
    <div class="container">

        <h1 style="color: var(--secondary);"><strong>Zašto turbina troši ulje</strong></h1>
        <h3 style="color: var(--primary);"><strong>Glavni uzročnici 
            kvara turbine</strong></h3>

        <div class="row">
            <div class="col-xl-6 col-md-12"
            style="padding-top: 20px;">
            <p>
                Curenje ulja može biti uzrokovano raznim faktorima, ali glavni faktor je 
                nepravilan pritisak u okviru kompresorskog kućišta turbine. Curenje ulja 
                može prouzrokovati katastrofalnu štetu na ležajevima, a mogu se primetiti 
                nekoliko sekundi od početka rada turbokompresora. Kada je turbo pravilno 
                instaliran, <strong>ne sme propuštati ulje</strong>, međutim, postoje situacije u kojima 
                ulje ipak curi. U nastavku smo istakli glavne uzroke, znakove i rešenja 
                za ovaj problem.
            </p>
            </div>
            <div class="col-xl-6 col-md-12">
            <div class="d-flex justify-content-center">
                <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/1.webp' %}" 
                alt="" width="400px" style="border-radius: 10px;">
            </div>  
            </div>
        
        </div>

        <h1 style="color: var(--secondary);
        padding-top: 30px;"><strong>Uzrok curenja</strong></h1>
        <h3 style="color: var(--primary);"><strong>Izazivači problema curenja</strong></h3>

        <div class="row"
        style="padding-top: 20px;">
            <div class="col-xl-4 col-md-12" style="margin-bottom: 20px;">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h3 style="color: var(--primary); font-weight: bold; text-align: center;">
                            Kompresorski uzrok
                        </h3>
                        <ul style="padding-top: 20px;">
                            <li>kompresorsko jezgro lošeg kvaliteta</li>
                            <li>usisno crevo u prekidu</li>
                            <li>nepravilno postavljena usisna cev ili crevo</li>
                            <li>blokade protoka na usisnoj cevi</li>
                            <li>blokade na filteru usisnog vazduha</li>
                            <li>pogrešno postavljen turbo </li>
                            <li>nedovoljna ili prevelika količina pritiska</li>
                            <li>prljav filter vazduha prirodnim nakupljanjem</li>
                            <li>oštećeno ili uništeno kućište kompresora</li>
                            <li>blokade u izduvnom sistemu</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12" style="margin-bottom: 20px;">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h3 style="color: var(--primary); font-weight: bold; text-align: center;">
                            Uzrok na turbini
                        </h3>
                        <ul style="padding-top: 20px;">
                            <li>kompresorsko jezgro lošeg kvaliteta</li>
                            <li>uništen klipni prsten</li>
                            <li>curenja u izduvnom sistemu</li>
                            <li>neodgovarajući zaptivači</li>
                            <li>zaptivači lošeg kvaliteta</li>
                            <li>pogrešno postavljen turbo</li>
                            <li>nedovoljna ili prevelika količina pritiska</li>
                            <li>pukotine na kućištu turbine (ponekad vidljivo samo pri radu ili dok je zagrejana)</li>
                            <li>iskrivljena ili blokirana izduvna prirubnica</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-body">
                        <h3 style="color: var(--primary); font-weight: bold; text-align: center;">
                            Kombinovana uzročnost
                        </h3>
                        <ul style="padding-top: 20px;">
                            <li>kompresorsko jezgro lošeg kvaliteta</li>
                            <li>fizičko oštećenje rotacionih delova turbine</li>
                            <li>previsok pritisak ulja </li>
                            <li>fizičko oštećenje rotacionih delova turbine</li>
                            <li>cevi za povrat ulja lošeg kvaliteta</li>
                            <li>cevi za povrat ulja oštećene ili blokirane</li>
                            <li>visok pritisak kućišta radilice</li>
                            <li>prepunjen rezervoar ulja</li>
                            <li>upotreba silikonskog zaptivača (ili neodgovarajućeg)</li>
                            <li>učestalo gašenje vrućeg motora (nakupljanje koksa)                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="video-container" 
        style="position: relative; padding-bottom: 56.25%; width: 100%;">
            
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/JUwgUhg1v_M?si=5JTV1zvnIs4rif7G" 
            title="Zašto turbina troši ulje - Pana-888 Doo" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" 
            style="position: absolute; top: 0; left: 0; width: 100%; 
            height: 100%; border-radius: 15px;"
            allowfullscreen>
            </iframe>

        </div>
        
        <h1 style="color: var(--secondary);
        padding-top: 30px;"><strong>Kako dolazi do curenja</strong></h1>
        <h3 style="color: var(--primary);"><strong>Greške koje dovode do problema</strong></h3>
        
        <div class="row">
            <div class="col-xl-4 col-md-12" 
            style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/2.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>1.</strong> Ako dođe do savijanja, uvijanja ili delimične blokade u cevi za povratak ulja, to će dovesti do nakupljanja pritiska ulja u kućištu ležaja, što rezultira curenjem i sa turbine i sa krajeva kompresora.
                        </p>
                    </div>
                </div>    
            </div>


            <div class="col-xl-4 col-md-12" 
            style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/3.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>2.</strong> Ako je sipano više ulja nego dozvoljeno, neće biti mesta za proticanje, što dovodi do nakupljanja pritiska ulja u kućištu ležaja. To će dovesti do curenja ulja i iz turbine i iz krajeva kompresora.
                        </p>
                    </div>
                </div>    
            </div>

            <div class="col-xl-4 col-md-12" 
            style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/4.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>3.</strong> Ako je nivo ulja viši od onog koji je odredio proizvođač motora, ulje bi se moglo potisnuti nazad kroz cev za odvod iz turbine, ograničavajući protok. To će prouzrokovati curenje sa oba kraja.
                        </p>
                    </div>
                </div>    
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-12" 
            style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/5.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>4.</strong> Ukoliko dođe do začepljenja protoka vazduha u motoru ili na turbini, povećava se pritisak koji potiskuje ulje. Fizička oštećenja ili prevelik zazor ležajeva takođe može uzrokovati curenje.
                        </p>
                    </div>
                </div>    
            </div>

            <div class="col-xl-8 col-md-12" 
            style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/6.jpg' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>5.</strong> „Izduvavanje klipnog prstena“ i „izduvavanje kućišta radilice“ uzrokuju isti efekat, povećavaju pritisak u kućištu radilice. Ovo utiče na protok ulja do turbine tačnom potrebnom brzinom i pravi ograničenje cevi za dovod ulja, uzrokujući da ulje curi bilo na kraju turbine ili na kraju kompresora.

                        </p>
                    </div>
                </div>    
            </div>
        </div>

        <div class="container" style="max-width: 80%; padding-top: 20px;">
            <i>
                <h5 style="color: var(--primary);">
                    Imajte u vidu
                </h5>
                <p>
                    Do curenja ulja može doći i kada motor radi u mestu. Pritisak u kućištima je niži, što može dovesti do stvaranja vakuuma, što dovodi do curenja ulja u kućište turbine. Jednom kada motor počne da radi normalnom brzinom, pritisci će se obnoviti i curenje će prestati.
                </p>
            </i>
        </div>

        <h1 style="color: var(--secondary);
        padding-top: 30px;"><strong>Kako rešiti problem curenja ulja na turbo sistemu</strong></h1>

        <ul>
            <li>Pravilno podesite turbinu 
                <a href="./instrukcije-za-montazu.html">
                instrukcije</a></li>
            <li>Osigurajte da sistemi za odvod vazduha i ulja nemaju blokada ili ograničenja</li>
            <li>Proverite izduvni sistem kako biste bili sigurni da nema curenja</li>
            <li>Ne koristite silikon na zaptivkama za ulje, jer se lako može odvojiti i blokirati prolaze za ulje.</li>
            <li>Uverite se da DPF (filter za čestice dizel goriva) i katalizator nisu zapušeni</li>
            <li>Koristite odgovarajuće zaptivke i o-prstenove</li>
            <li>Koristite samo ispravan standard kućišta turbine i kućišta kompresora</li>
            <li>Proverite nivo ulja i pritiska</li>
        </ul>

        <p>
            Ukoliko sumnjate na kvar turbine, možete proveriti učestale 
            simptome pri kvaru <a href="./simptomi-kvara-turbine.html">ovde</a>.
        </p>
        
        {% include 'app/informacije/ukoliko-ima-problema.html' %}

    </div>
</div>
{% endblock %}