<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vocabulario</title>
    <style>
        .hidden-content {
            display: none;
        }
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>

    <br>
    <a href="{% url 'phrases' %}">phrases</a>
    <br>
    <br>

    <table>
        <tr>
            <th></th>
            <th>Español</th>
            <th>significación</th>
        </tr>
        {% for tuple in vars %}
            <tr>
                <td>
                    <button onclick="revealContent('{{ forloop.counter }}')">Revelalo</button>
                </td>
                <td>
                    <span id="tuple-0-{{ forloop.counter }}" class="hidden-content">{{ tuple.0 }}</span>
                </td>

                <td>{{ tuple.1 }}</td>
            </tr>
            
        {% endfor %}
    </table>

    <script>
        function revealContent(id) {
            var element = document.getElementById('tuple-0-' + id);
            if (element.style.display === 'none' || element.style.display === '') {
                element.style.display = 'inline';
            } else {
                element.style.display = 'none';
            }
        }
    </script>
</body>
</html>
