<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vocabulario</title>
    <style>
        .hidden-content {
            display: none;
        }
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>

    <br>
    <a href="{% url 'phrases' %}">Рандом зборови</a>
    <br>
    <br>

    <table>

        <tr>
            <th></th>
            <th>Шпански</th>
            <th>Каталонски</th>
            <th>Значење</th>
        </tr>

        {% for tuple in vars %}
            <tr>
                <td>
                    <button onclick="revealContent('{{ forloop.counter }}')">Откриј</button>
                </td>
                <td>
                    <span id="tuple-esp-{{ forloop.counter }}" class="hidden-content">{{ tuple.0 }}</span>
                </td>
                <td>
                    <span id="tuple-cat-{{ forloop.counter }}" class="hidden-content">{{ tuple.1 }}</span>
                </td>
                <td>{{ tuple.2 }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <script>
        function revealContent(id) {
            var espElement = document.getElementById('tuple-esp-' + id);
            var catElement = document.getElementById('tuple-cat-' + id);
    
            if (espElement.style.display === 'none' || espElement.style.display === '') {
                espElement.style.display = 'inline';
                catElement.style.display = 'inline';
            } else {
                espElement.style.display = 'none';
                catElement.style.display = 'none';
            }
        }
    </script>

</body> 