{% extends 'app/main.html' %}
{% load static %}
{% block title %}Početna{% endblock %}

{% block carousel %}
{% include 'app/home/carousel.html' %}
{% endblock %}

{% block content %}

    <div class="py-5">
        <div class="container">
            <div style="padding-bottom: 10px;">
                <div class="row align-items-center">
                    <div class="col-11">
                        <p style="color: var(--primary); font-size: 30px; text-align: right;"><strong>
                            Akcija! Nove turbine! Popust za servise!</strong></p>
                    </div>
                    <div class="col-1 d-none d-md-block">
                        <img src="{% static '/images/imgs/arrow_down_right.png' %}" alt="" width="40px">
                    </div>
                </div>
            </div>    

            {% include "app/turbini_form.html" %}

            <div class="row">
                <div class="col-sm-8">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" 
                        src="{% static '/images/imgs/unmarked/1.jpg' %}" 
                        alt="Card image cap"
                        style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                        <p><strong>Sve vrste turbine</strong></p>
                        <p>
                            Pana-888 Doo je licencirani distributer brenda Jrone u Srbiji
                        </p>
                        <p>
                            Jrone proizvodi turbine ne samo za dizel motore od 0.8L do 3.5L za putničke automobile i 
                            od 4.0L do 12.0L za teretna vozila, već i za benzinske motore od 1.0L do 2.0L. Jrone turbine 
                            se montiraju poluautomatskim linijama i podvrgavaju se strogoj kontroli kvaliteta.
                        </p>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-4">
                    <div class="col-sm-12">
                        <p><strong><u>Relevantni informativni linkovi:</u></strong></p>

                        <a href="{% static '/pdf/identifikacija_trubine.pdf' %}" target="_blank">
                        <button class="btn btn-primary mb-2" 
                        style="width: 210px;">Kako identifikovati turbinu</button>
                        </a>

                        <a href="{% static '/pdf/proverke_i_preporuke.pdf' %}" target="_blank">
                        <button class="btn btn-primary mb-2" 
                        style="width: 210px;">Neophodne provere</button>
                        </a>

                        <a href="{% url 'kako-funkcionise-turbo' %}">
                        <button class="btn btn-outline-primary mb-2" 
                        style="width: 210px;">Kako funkcioniše turbo</button>
                        </a>

                        <a href="{% url 'simptomi-kvara-turbine' %}">
                        <button class="btn btn-outline-primary mb-2" 
                        style="width: 210px;">Simptomi kvara turbine</button>
                        </a>

                        <a href="{% url 'zasto-se-kvari-turbina' %}">
                        <button class="btn btn-outline-primary mb-2" 
                        style="width: 210px;">Zašto se kvari turbina</button>
                        </a>
                        
                        <a href="{% url 'zasto-turbina-trosi-ulje' %}">
                        <button class="btn btn-outline-primary mb-2" 
                        style="width: 210px;">Zašto turbina troši ulje</button>
                        </a>

                        <a href="{% url 'instrukcije-za-montazu' %}">
                        <button class="btn btn-outline-primary mb-2" 
                        style="width: 210px;">Instrukcije za montažu</button>
                        </a>
                    </div>
                </div>

            </div>  

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Centralni sklop</strong></p>
                        <p class="card-text">CHRA (Centralna Hidraulična Rotaciona Asamblia) u turbini integriše 
                        kompresorski točak i turbinu. Rotacija točka stvara vakuum, povećava gustinu vazduha, 
                        poboljšavajući sagorevanje. CHRA obezbeđuje podmazivanje, hlađenje i održava pritisak, 
                        unapređujući efikasnost i snagu motora.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/4.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Aktuatori i delovi aktuatora</strong></p>
                        <p class="card-text">Aktuatori i delovi aktuatora u turbini upravljaju pritiskom izduvnih 
                        gasova. Aktuator reaguje na promene u uslovima rada, podešava geometriju turbinu i 
                        optimizuje performanse. Ovo omogućava bolju kontrolu pritiska vazduha, povećavajući 
                        efikasnost i snagu motora.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/5.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Geometrija</strong></p>
                        <p class="card-text">Prstenovi dizni u turbini usmeravaju izduvne gasove prema turbini. 
                        Njihova pravilna orijentacija omogućava optimizovan protok gasova, poboljšavajući 
                        efikasnost i brzinu turbinu. Ovi prstenovi su ključni za maksimalno iskorišćenje 
                        energije izduvnih gasova i povećanje snage motora.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/6.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Turbinsko kolo</strong></p>
                        <p class="card-text">Turbinski osovinasti točak u turbini pokreće se izduvnim gasovima. 
                        Njegova rotacija pokreće kompresorski točak, omogućavajući usisavanje i kompresiju 
                        vazduha. Ova simbioza povećava efikasnost motora pomoću poboljšane kompresije, što 
                        rezultira većom snagom i performansama vozila.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/7.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Kompresorsko kolo</strong></p>
                        <p class="card-text">Kompresorski točak u turbini vrši kompresiju svežeg vazduha. 
                        Pokreće se rotacijom izduvnih gasova koje usmerava turbine. Ova kompresija 
                        povećava gustinu vazduha pre ulaska u motor, optimizujući sagorevanje i 
                        pružajući veću snagu i efikasnost motora.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/8.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Kućište ležaja</strong></p>
                        <p class="card-text">Kućišta ležajeva u turbini podržavaju i smeštaju ležajeve koji 
                        održavaju rotaciju osovine. Ovi ležajevi omogućavaju glatko okretanje točkova, 
                        smanjuju trenje i habanje, čime obezbeđuju dugotrajan i pouzdan rad turbinu.</p>
                    </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{% static '/images/imgs/unmarked/9.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p><strong>Servisni kompleti</strong></p>
                        <p class="card-text">Servisni kompleti za turbine sadrže zamenske delove poput brtvi, 
                        ležajeva i drugih komponenti. Ovi kompleti omogućavaju održavanje i obnovu turbinu, 
                        produžavajući njegov vek trajanja i očuvavajući optimalne performanse.</p>
                    </div>
                    </div>
                </div>
            </div>


        </div>
    </div>  

    <div class="py-5">
        <div class="container" style="border-top: 5px solid var(--primary);
        border-bottom: 5px solid var(--primary);">

            <h2 style="padding-top: 20px; color: white;"><strong>
                Relevantni informativni linkovi 
            </strong></h2>

            {% include 'app/informacije-to-include.html' %}

        </div>
    </div>

{% endblock %}
{% block scripts %}
<!-- scrolls down to pretraga-form -->
<script>
    var element = document.getElementById('pretraga-form');
    var offset = element.offsetTop - 150;
    var duration = 2000; 
    var start = null;

    function scrollToElement(timestamp) {
        if (!start) start = timestamp;
        var progress = timestamp - start;
        
        window.scrollTo({
            top: easeInOutQuad(progress, 0, offset, duration),
            behavior: 'auto' 
        });

        if (progress < duration) {
            requestAnimationFrame(scrollToElement);
        }
    }

    function easeInOutQuad(t, b, c, d) {
        t /= d / 2;
        if (t < 1) return c / 2 * t * t + b;
        t--;
        return -c / 2 * (t * (t - 2) - 1) + b;
    }
    
    requestAnimationFrame(scrollToElement);
</script>
{% endblock scripts %}