{% load static %}

<div class="album py-5">

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/logo/logo.png' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% static '/pdf/identifikacija_trubine.pdf' %}">Kako identifikovati turbinu</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding:  0px 30px 30px 30px;">
                    <p class="card-text">Identifikacija turbine se obavlja na osnovu njenog broja proizvođača turbine ili OE broja. Ovi brojevi se nalaze istaknuti na pločici turbine. Ugravirani su na samoj turbini ili aluminijumskoj pločici radi lakog raspoznavanja. Pročitajte u nastavku kako razlikovati ove brojeve i kako to izgleda na različitim turbinama.</p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% static '/pdf/identifikacija_trubine.pdf' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/logo/logo.png' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% static '/pdf/proverke_i_preporuke.pdf' %}">Neophodne provere</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text">Da biste izbegli nepotrebne probleme, molimo da sa posebnom
                        pažnjom ugradite turbo punjač! To je od velike važnosti čak i za
                        iskusnog mehaničara da obrati pažnju na specifičnosti prilikom
                        ugradnje. Molimo vas da pažljivo pročitate uputstvo!</p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% static '/pdf/proverke_i_preporuke.pdf' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/imgs/informacije/kako_funkcionise_turbo/1.webp' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% url 'kako-funkcionise-turbo' %}">Kako funkcioniše turbo</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text"><strong>Turbo</strong>, <strong>turbopunjač</strong> ili 
                        <strong>turbina</strong> je komponenta sistema motora sa
                        unutrašnjim sagorevanjem. Ima ulogu u dopremanju dodatnog (kompresovanog) 
                        vazduha u komore za sagorevanje motora. Vazduh kompresovan u turbopunjaču 
                        sadrži veću koncentraciju kiseonika, što omogućava znatno poboljšano sagorevanje, 
                        što znači: veća snaga, čistije emisije, poboljšan obrtni moment motora i smanjenje 
                        gubitka ubrizgavanja u motoru nudeći svestrano bolje performanse vozilu ili mašini.</p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% url 'kako-funkcionise-turbo' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/imgs/informacije/zasto_se_kvari_turbina/2.webp' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% url 'simptomi-kvara-turbine' %}">Simptomi kvara turbine</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text">Kao i većina delova, turbokompresor nije imun na kvarove. 
                        Istražili smo šest najčešćih simptoma koji ukazuju na <strong>kvar na turbini</strong>, 
                        tako da možete lako da proverite da li je turbina u kvaru ili se radi o nekom 
                        drugom problemu. Bitno je da proverite da li su simptomi vezani za turbo pre nego 
                        što krenete u popravku, kako ne biste napravili dodatnu štetu na vozilu.</p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% url 'simptomi-kvara-turbine' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/imgs/informacije/zasto_se_kvari_turbina/1.webp' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% url 'zasto-se-kvari-turbina' %}">Zašto se kvari turbina</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text">Turbina snabdeva motor kompresovanim vazduhom za jači proces sagorevanja pod većim pritiskom i gustinom od vazduha iz okoline. Kompresovan vazduh iz turbopunjača sadrži veću koncentraciju kiseonika, što omogućava znatno poboljšano sagorevanje, što znači veća snaga, čistije emisije, poboljšan obrtni moment motora i smanjenje gubitka ubrizgavanja u motoru nudeći svestrano bolje performanse. 
                      Bilo kakve greške u  sistemima za ulje, gorivo, vazduh i hlađenju motora, mogu prouzrokovati nepravilan rad turbo sistema i potencijalno ga oštetiti.
                    </p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% url 'simptomi-kvara-turbine' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/imgs/informacije/zasto_turbina_trosi_ulje/1.webp' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% url 'zasto-turbina-trosi-ulje' %}">Zašto turbina troši ulje</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text">Curenje ulja može biti uzrokovano raznim faktorima, ali glavni faktor je 
                        nepravilan pritisak u okviru kompresorskog kućišta turbine. Curenje ulja 
                        može prouzrokovati katastrofalnu štetu na ležajevima, a mogu se primetiti 
                        nekoliko sekundi od početka rada turbokompresora. Kada je turbo pravilno 
                        instaliran, <strong>ne sme propuštati ulje</strong>, međutim, postoje situacije u kojima 
                        ulje ipak curi. U nastavku smo istakli glavne uzroke, znakove i rešenja 
                        za ovaj problem.
                    </p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% url 'zasto-turbina-trosi-ulje' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center" style="padding: 20px;">
                    <img src="{% static 'images/imgs/informacije/instrukcije_za_montazu/17.png' %}" class="img-fluid"
                     style="border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"
                        style="color: var(--primary);"><strong>
                            <a href="{% url 'instrukcije-za-montazu' %}">Instrukcije za montažu</a>
                        </strong>
                    </h3>
                </div>  
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="card-text">Instrukcije korak po korak kako se pravilno vrši montaža turbine. Instrukcije obuhvataju 
                        čitav proces od dijagnostike, preko provere adekvatnosti, faktora koji utiču na rad turbine 
                        i grešaka koje mogu da se dogode. Detaljno smo obradili ceo proces zamene tako da ukoliko 
                        detaljno ispratite instrukcije nećete imati problema. 
                    </p>
                    <span style="float: right; margin-bottom: 30px;">
                        <a href="{% url 'instrukcije-za-montazu' %}" class="btn btn-primary" >Više</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>  