{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Pana-888 Doo</title>

        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/customizations.css' %}">

        <link rel="icon" href="{% static '/images/logo/saat.ico' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static '/images/logo/saat.ico' %}" type="image/x-icon">
        
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    
                <div class="container">
        
                    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                    <img height="60" src="{% static '/images/logo/logo.png' %}" alt="">
                    </a>
        
                    <p><br><br><br></p>
                    
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
            
                            <li class="nav-item active d-flex justify-content-center">
                            <a class="nav-link" href="{% url 'home' %}"><button type="button" class="btn btn-primary" style="font-size: large;">
                                Početna</button></a>
                            </li>
            
                            <li class="nav-item active d-flex justify-content-center">
                            <a class="nav-link" href="{% url 'informacije' %}"><button type="button" class="btn btn-primary" style="font-size: large;">
                                Informacije</button></a>
                            </li>
            
                            <li class="nav-item active d-flex justify-content-center">
                            <a class="nav-link" href="{% url 'kontakt' %}"><button type="button" class="btn btn-primary" style="font-size: large;">
                                Kontakt</button></a>
                            </li>

                            <li class="nav-item active d-flex justify-content-center">
                                <a class="nav-link">
                                    <form class="d-flex" role="search" action="{% url 'pretraga' %}" method="get">
                                        <input name="query" class="form-control me-2" type="search" 
                                        placeholder="Pretraga..." aria-label="Pretraga..." style="margin-right: 10px;">
                                        <button class="btn btn-outline-success" type="submit">Pretraga</button>
                                    </form>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
    
            </nav>
        </header>
            <div style="padding-top: 100px;"></div>
    
        {% block carousel %}{% endblock %}

        {% include 'app/pretraga_form.html' %}
        
        <main role="main">

            {% block content %}
        
            {% endblock %}
                
        </main>
        <footer>
            <!-- <div class="py-5"> -->
                <div class="container">
                    <h2 style="padding-top: 0px; color: var(--secondary); 
                    padding-bottom: 20px; padding-top: 30px;
                    color: var(--primary);"><strong>
                        Kontakt
                    </strong></h2>
                </div>
            <!-- </div> -->
            {% include 'app/kontakt-to-include.html' %}
        </footer>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/holder.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- popover -->
    <script>
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover({html:true});   
        });
    </script>

    {% block scripts %}
    {% endblock scripts %}
</html>


