{% load static %}
<div class="card" style="margin-bottom: 30px; border: 0px;">
    <div class="row g-0 align-items-center">
        <div class="col-md-4 d-none d-md-block">
            <div class="d-flex" >
                <img src="{% static 'images/imgs/unmarked/turbo_pretraga.webp' %}" style="max-height: 100%; width:auto;" class="img-fluid rounded-start">
            </div>
        </div>

        <div class="col-md-8 col-sm-12" style="background-color: var(--secondary); border-radius: 5px;">
            <div class="card-body">
                <h2 style="color: white; padding-bottom: 5px;"><strong>Tražite isključivo turbine:</strong>
                </h2>
                    
                <p style="color: white; font-size: small;"><i>(jedno ili više polja)</i></p>

                <form method="get" style="padding-bottom: 50px;">
                    <table class="table" style="color: white; border-bottom: 1px solid white;">
                        <tr>
                            <th scope="col">MARKA</th>
                            <th scope="col">{{ turbini_form.auto }}</th>
                        </tr>
                        <tr>
                            <th scope="col">CCM</th>
                            <th scope="col">{{ turbini_form.CCM}} LD / LP / HDI / DCI ...</th> 
                        </tr>
                        <tr>
                            <th scope="col">SNAGA</th>
                            <th scope="col">{{ turbini_form.HP}} HP</th>
                        </tr>
                        <tr>
                            <th scope="col">ŠIFRA ili OE
                                
                            </td>
                            <button type="button" style="border: 0px;background-color: transparent; color: white;"
                                title="Kako identifikovati turbinu?" data-toggle="popover" 
                                data-content="Pročitajte više <a href='{% static '/pdf/identifikacija_trubine.pdf' %}' target='_blank'>ovde</a>.">
                                <svg width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                </svg>
                                </button>
                            <th scope="col">{{ turbini_form.shifra }}</th>
                        </tr>
                    </table>
                    <button class="btn btn-primary" style="float:right;" type="submit">Pretraga</button>
                </form>

            </div>
        </div>
    </div>
</div>
